<div class="container">
  <p>this is an adventure game where you decide where you end up</p>
  <p>will you survive a night in portland</p>
  <h4>Scenario: you arrive at PDX Airport and your Uber is a van from the '70s' that says 'goodTimes' with tinted windows and a driver wearing sunglasses at night. no smile.</h4>
  <h5>Do you....?
  <a routerLink="scenario-one">Get in and wish for the best. No smiles probably means he is a focused driver.</a>
  <a routerLink="scenario-two">Pass and wave down the next taxi.</a>
</div>
